<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="96.0.14" targetFramework="net471" />
  <package id="cef.redist.x86" version="96.0.14" targetFramework="net471" />
  <package id="CefSharp.Common" version="96.0.142" targetFramework="net471" />
  <package id="CefSharp.Wpf" version="96.0.142" targetFramework="net471" />
  <package id="Microsoft.Web.WebView2" version="1.0.1054.31" targetFramework="net471" />
</packages>